body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
}

header {
    background-color: #1509b6;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}
.visual{
    width: 35%;
    max-width: 250px;
    display :flex;
    justify-content:space-between;
    
}
.nome {
    text-align: center;
    background-color: #1509b6;
    color: #f0f4f8;
    padding: 1em 5;
}


section {
    margin: 10px;
    padding: 0em;
    text-align : center;
}

.turma {
    width: 33%;
    max-width: 250px;
    display :flex;
    justify-content:space-between;
    
}


img {
    width: 300px;
    height: 50;
}

.imagem-grande {
    width: 1325px;
    height: 200px;
    
}
form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
}

label,
input {
    margin-bottom: 10px;
}

button {
    background-color: #333;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    border: none;
}